{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Se connecter</h1>
    <hr>
    <p>Pour vous connecter, merci de renseigner l'e-mail et le mot de passe.</p>

    <div class="input-group mb-3">
        <label for="inputEmail" class="input-group-text">E-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class="input-group mb-3">
        <label for="inputPassword" class="input-group-text">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-info" type="submit">
            Se connecter
        </button>
    </div>
</form>
{% endblock %}
