{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <thead>
            <th>Nom</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>Voyages</td>
                <td></td>
            </tr>
            <tr>
                <td>Categories</td>
                <td></td>
            </tr>
            <tr>
                <td>Tags</td>
                <td></td>
            </tr>
            <tr>
                <td>Utilisateurs</td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}