
  <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Voyage, Voyage, Inc</p>

    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-hurricane text-muted" viewBox="0 0 16 16">
      <path d="M6.999 2.6A5.5 5.5 0 0 1 15 7.5a.5.5 0 0 0 1 0 6.5 6.5 0 1 0-13 0 5 5 0 0 0 6.001 4.9A5.5 5.5 0 0 1 1 7.5a.5.5 0 0 0-1 0 6.5 6.5 0 1 0 13 0 5 5 0 0 0-6.001-4.9zM10 7.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
    </svg>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{path('accueil')}}" class="nav-link px-2 text-muted">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Nous contacter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">CGV</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Politique de confidentialité</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mentions légales</a></li>
    </ul>
  </footer>
